.orderDetailCard{
  
   box-shadow: 2px 2px 10px black;

   margin:20px 10px;
   padding: 5px;
 
}
.orderDetailCard >h3{
   text-align: center;
}
.orderimage{
    display: flex;

    flex-wrap: wrap;
    padding: 10px;
    
}
.orderimage img{
    margin-right: 20px;
    flex: 3;
    max-width: 200px;
    margin: 0 auto;

}
.orderimage p,.orderimage h3{
    font-size: 15px;
    font-weight: bold;
   padding: 0;
   color: gray;
}
.orderimage span{
 color: black;

}
.OrderPrice{
    flex: 9;
    padding-bottom:0 ;
    min-width: 200px;
}
.OrderPrice p,.OrderPrice  h3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom:0 ;
    margin-bottom: 0;
}
.shipping p{
    font-weight: bold;

}
.shipping >p{
    padding-left: 15px;

}
.shipping address{
    padding: 15px;
}
.orderDetailCard button{
    padding: 10px;
    background-color: indigo;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 15px;

}
@media screen and (max-width:375px){
    .orderimage p,.orderimage h3{
        font-size: 10px;
    }
    .shipping >p{
      font-size: 12px;
    }
    .shipping address p{
        font-size: 10px;
    }
}