.cart{
    flex:3;
    margin-right: 15px;

}
.cartbox{
    display: flex;
    align-items: center;
   position: relative;
    padding-left: 10px;
    flex-wrap: wrap;
}
.icon{
    font-size: 20px;
    background-color: white;
 border-radius: 50%;
 padding: 8px 12px;
 position: relative;
 cursor: pointer;

}
.cart p{
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;


}
.k{
    width:25px;
    height: 25px;
    border-radius: 50%;
    background-color: orangered;
    margin-right: 15px;
    position: absolute;
    z-index: 5;
    font-weight: bolder;
    font-size: 15px;
    top:-4px;
    padding: 3px;
    
   

}

/* @media screen and (max-width:768px){
.cart p{
    display: none;
    
}
.cart{
    flex:1
}
} */