.cardBodyList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.LCard{
    width: 100%;
    display: flex;
}
.imgBody{
    flex:2
}
.priceBody{
    flex:9;
    margin-left: 10px;
   
}
