.cardBodyGrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  
}



/* for List full width*/

 .cardBodyList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   padding: 20px;
   
}




