.categories{
    padding: 10px 0px;
    
    display: flex;
 
    align-items: center; 
    justify-content: flex-end;
    font-weight: bold;
}
.categories > *{
    cursor: pointer;
    margin:0 8px

}