.navView{
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: space-around;
align-items: center;

color: black;
padding: 20px 0;

}
@media screen and (max-width:768px){
    .navView{
        padding-top:0
    }
}