.details{
flex:8;
box-shadow: -1px 0px 10px black;
text-align: left;

padding: 5px;


}
.wishList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
    overflow-y: scroll;
}
.wishList::-webkit-scrollbar {
    display: none;
}

.wishList h3{
    width: 100%;
    padding: 10px 20px;
}
.wishProduct{
    display: flex;
   

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.wishProduct .priceBody button{
    width: 100%;
    cursor: pointer;
}
.details .form{
    margin-top: 0;
    padding: 0;
}
.form h3,.order h3{
    padding: 15px;
}
.details .form .reviewForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.details .form .reviewForm div{
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width:40%;
  

}
.reviewForm label::before{
    content: '';
}
.details .form .reviewForm div select{
 
    height: 30px;
  
}
.details .form .reviewForm div input,.details .form .reviewForm div select,.details .form .reviewForm div textarea{
        padding: 5;
        padding-left: 15px;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid black;
        color: black;
        resize: none;

}
.textarea{
    width: 100%;
}

.reviewForm button{
    width:120px;
    padding: 5px;
    border: none;
    margin: 0px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.reviewForm button:first-child{
    background-color: red;

}
.reviewForm button:last-child{
    background-color: rgb(0, 225, 255);

}
#btnn{
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    width: 100%;
    margin: 15px 5px;
  
}
#btnn button{
    font-size: 15px;
}
#checkbox{
    display: flex;
    align-items: center;
    flex-direction: row;
   
     
  }
#checkbox> p{
      margin-left: 10px;
      font-size: 15px;
  }

 @media screen and (max-width:600px){
    .details{
        box-shadow:none
    }
    .details .form .reviewForm div{
        width: 100%;
    }
} 
