.Card{
  
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.322);
    width:180px;
    height: max-content;
    padding: 5px;
    margin: 15px;
    position: relative;
    
}
.ListCard{
    flex: 12;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:10px 0;
   
}
.Offer{
    position: absolute !important;
    background-color: rgba(4, 65, 4, 0.808);
    padding:4px 3px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.imgBody{
    width: 100%;
}
.ListimgBody {
    flex:2;
    align-self: center;
}
.imgBody img{
    width: 100%;
   height: 150px;
}
.ListimgBody img{
    min-width: 150px;
height: 150px;
}
.priceBody{
    align-items: center;
}
.ListpriceBody{
    flex:9;
    margin-left: 10px;
    text-align: left;
}
.priceBody> p:first-child{
    margin: 5px;
    font-weight: bolder;
    color: black;
}
.priceBody p{
   margin: 5px;
   font-weight: bold;
   color: green;
   text-align: center;
}
.ListpriceBody p{
    text-align: left;
}
.priceBody button{
    background-color: indigo;
    color: white;
    padding: 5px 10px;
    width: 100px;
   
    margin: 10px auto;
    border: none;
    border-radius: 5px;
   
}
.Cart{
 display: flex;
 width: 100%;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 

}
.ListCart{
    justify-content: left;
}
.Cart p{
    color: red;
}
.Cart input{
    max-width: 50px;
    padding:3px;
    text-align: center;
    margin:0 5px
}
.cartIcon{
cursor: pointer;
background-color: orange;
border-radius: 5px;
padding: 5px;
font-size: 25px;

}
.discount{
    color:gray;
    text-decoration: line-through;
}
@media screen and (max-width:768px){
    .ListimgBody img{
        width: 150px;
    }
    
} 
@media screen and (max-width:425px){
.ListpriceBody{
        text-align: center;
    }
    .ListCart{
        justify-content: center;
    }

} 
