.footerSocial{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    
    align-items: center;
    color: black;
    margin:0 60px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding:30px 0

}