.Card{
    background-color: white;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.322);
    width:180px;
    height: auto;
    padding: 5px;
    margin: 15px;
    
}
.imgBody{
    width: 100%;
  
   
}
.imgBody img{
    width: 100%;
    height: 150px;
}
.imgBody p{
    margin: 5px;
    font-weight: bolder;
}
.priceBody p{
   margin: 5px;
   font-weight: bold;
   color: green;
}
.priceBody button{
    background-color: indigo;
    color: white;
    padding: 5px 10px;
    width: 80%;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    
}
#cart{
    background-color: orange;
}