.OCard{
    background-color: white;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.322);
    width:100%;
    height: auto;
    padding: 10px;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    
}
.OCard h4,.Ocard .OpriceBody{
    width: 100%;
}
.OimgBody{
 min-width: 150px;
 

}
.OimgBody img{
    
    height: 150px;
    margin-right: 20px;
    
}
.OpriceBody{
    align-items: center;
    flex:9;
 min-width: 200px;
 margin:0;



}
.OpriceBody> p:first-child{
 
    font-weight: bolder;
    color: black;
}
.OpriceBody p{
  
   font-weight: bold;
   color: green;
}

.orderDetailButton{
    background-color: indigo;
    color: white;
   padding: 5px 10px;
    width: 140px;
    margin-top:15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    
}
.orderCancelButton{
    background-color: red;
    color: white;
   padding: 5px 10px;
    width: 140px;
    margin:15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size:20px;
}
.CancelOrder{
    color:red;
}
@media screen and (max-width:768px){
    .OCard{
    justify-content: center;

    }
    .OCard > h4{
        text-align: center;
    }
    .OpriceBody button{
        width: 100%;
        
    }
}
