.navbar{
   
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.navs{
    flex:12;
    text-align: left;
    padding: 10px 0;
}
.navs ul li{
    list-style: none;
    display: inline;
    margin-left:20px;
   

}
.navs ul li a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    letter-spacing: 0px !important;
    font-weight: bold;
}
