.header{
    background-color: rgb(30, 243, 243);
   
    color:white;
    display: flex;
    flex:wrap;
  
   
}
.brand{
   flex:2;
   height: 100%;

}

.nav{
flex:10;
    
}
@media screen and (max-width:768px){
   .header{
       flex-direction: column;
   }
}