.FilterBox{
   border: 1px solid black;
   border-radius: 4px;
    justify-content: center;
    width: 100%;
    margin:10px 0;
    padding:10px ;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
   

}
.displayOpt{
    flex:4;
  text-align: left;
    min-width:max-content
 
}
.displayOpt > *{
    padding: 0px 7px;
    font-size: 2.5rem;
    margin: 0 5px;
  
    cursor: pointer;

}
.show{
    color:black;
    background-color: orange;
    border-radius: 5px;
    

}
.options{
    flex:8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    
    flex-wrap: wrap;
    min-width: 300px;
    
}
.options p{
    font-size: 18px;

}
.options select{
    width: 200px;
    background-color: transparent;
    padding: 5px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 4px;
}
@media screen and (max-width:520px){
    .displayOpt{
        display: none;
    }
    .options{
        justify-content: center;
    
        flex-direction: column;
    }
    .options select{
        margin-top: 10px;
    }
}