.detailsContainer{

    flex:6;
    margin: 20px;
    text-align: left;
    min-width: 200px;

 

}
.detailsContainer h1{
 border-bottom: 1px solid black;
 padding-bottom: 10px;
}


.price{
    color:gray;
    line-height: 40px;
}
.price p{
    line-height: 20px;
}
.price h4 span{
    color: black;
    text-decoration: line-through;
}
.price h2 span{
    color: green;
}
.availabel p {
    margin:10px 0;
   
}
.availabel span{
    padding: 5px;
    border:2px solid brown;
    border-radius: 5px;
    margin: 25px 5px;
    cursor: pointer;
}
.detailsContainer button{
    background-color: orangered;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 30px 0;
    cursor: pointer;
}

.ad h4{
    margin-bottom: 10px;
}
.ad .adBox h5{
    margin:5px 0;
    color: orange;
}
@media screen and (max-width:425px){
    .detailsContainer button{
        font-size: 15px;
    }
}