.orderHeader{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin:10px 20px

}

.orderHeader select,.orderHeader input{
    width:50px;
    margin: 0 5px;
    height: 30px;
}
.orderHeader input{
    width:150px;
   
}
