.order{
    min-width: 300px;
}

.orderHeader,.orderFooter{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin:10px 20px;
   flex-wrap: wrap;
   align-items: center;
   

}
.orderHeader span{
    margin-top: 10px;
}
.orderHeader select,.orderHeader input{
    width:50px;
    margin: 0 5px;
    height: 30px;
    padding: 5px;
}
.orderHeader input{
    width:150px;
   
}
.table{
 

    
padding: 10px;
 
 
}


.pagination a{
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.Oshow{
    background-color: rgb(60, 129, 60);
}
.status{
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width:430px){
   .orderFooter,.orderHeader{
       justify-content: center;

       
   }
   .pagination{
    margin-top: 20px;

} 
}

