.orderHeader{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin:10px 20px

}

.orderHeader select,.orderHeader input{
    width:50px;
    margin: 0 5px;
    height: 30px;
}
.orderHeader input{
    width:150px;
   
}
.table{
   
    margin:20px
}
.table table{
    width: 100%;
    border-spacing: 0;
    
}
.table table th{
    border: 1px solid black;
    padding: 10px;
    word-break: keep-all;
    
}
.table table tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}
.date{
    min-width: 140px;
}
.eyeIcon{
    margin: 0 auto;
    background-color: orange;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
   cursor: pointer;
}
.iconth{
    text-align: center;
}